:root
	--primary #0C7EF9
	--on-primary #ffffff
	--surface #121212
	--on-surface #ffffffde
	--on-surface-alt #92929E
	--surface-1 #171718
	--surface-2 #1C1C1E
	--surface-3 #26252A
	--green #4FC572
	--red #DF273C

	// prefers-color-scheme dark
	// 	--surface #111111
	// 	--on-surface 255, 255, 255
	// 	// --surface-2
	// 	// --surface-3