:root
	--primary #007AFF
	--on-primary #ffffff
	--surface #121212
	--on-surface #ffffffde
	--on-surface-alt #92929E
	--surface-1 #171718
	--surface-2 #1C1C1E
	--surface-3 #26252A
	--green #4FC572
	--red #DF273C

// @media (prefers-color-scheme dark) 
// 	:root
// 		--surface #121212
// 		--on-surface #000000de
// 		--on-surface-alt #92929E
// 		--surface-1 #171718
// 		--surface-2 #F4F5F9
// 		--surface-3 #ffffff