:root
	--primary #0F8BFE
	--on-primary #ffffff
	--surface #0E1423
	--on-surface #ffffff
	--on-surface-alt #8C90AD
	--surface-1 #141828
	--surface-2 #171C31
	--surface-3 #2C3351
	--green #0F8BFE
	--red #DC4872

@media (prefers-color-scheme light) 
	:root
		--surface #F4F7FC
		--on-surface #2E2E2E
		--on-surface-alt #8C90AD
		--surface-1 #F9FBFD
		--surface-2 #ffffff
		--surface-3 #DBDFE3